// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
	margin: auto;
	padding-bottom: 2em;
}
input {
	background-color: #ddd;
	border: 1px solid #aaa;
}
input[type="submit"] {
	display:block;
	margin:auto;
}

