// Place all the styles related to the Wines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wine {
	width: 120px;
	text-align:center;
	float:left;
	margin: 15px;
}
.wine .name {
	display:block;
	font-weight: bold;
}
.wine .desc {
	display:block;
}
.wine .bar {
	margin-top: 10px;
}
.wine .price {
	float: left;
}
.wine .size {
	float: right;
}
.wine img {
	max-height: 100px;
	max-width: 100px;
}
